@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: #393357;
    color: #f6f6f6;
}

main{
    box-sizing: border-box;
}

.titulo_destaque{
    color: #74D672;
}

.container__main{
    margin: 10% 15%;

    display: flex;
    justify-content: space-between;
}

.container__main__conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50rem;
}

.container__main__conteudo_titulo{
    font-size: 32px;
    font-family: 'Arvo', serif;
}

.container__main__conteudo_paragrafo{
    font-size:  24px;

}

.container__main__botoes{
    display: flex;
    justify-content: space-between;
}

.container__main__botoes__botoes{
    background-color: #74D672;
    color: #000;
    width: 15rem;
    
    text-align: center;
    font-size: 24px;
    font-family: 'Arvo', sans-serif;
    text-decoration: none;
    font-weight: 600;
    
    padding: 1.5rem;
    margin: 5px;
    border-radius: 16px;
}

img{
    width: 30rem;

}