.container {
    min-height: 100%;
    padding: 0 5rem;
    margin: 2rem 0;

    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 28px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 50%;
}

.conteudo__titulo {
    font-size: 1.5rem;
    text-align: justify;
}

.titulo-destaque {
    color: var(--color-destaque);
}

.conteudo__paragrafo {
    font-size: 1.3rem;
    text-align: justify;
}

.botoesSociais {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.img-fotoPerfil {
    
    min-width: 25rem;
    max-height: 25rem;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.lista {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lista-item {
  list-style-type: none;
  width: 25rem;
}

@media (max-width: 1200px) {
    .container {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;

        margin: 3% 2rem;

        gap: 32px;
    }

    .conteudo {
        width: 100%;
        padding: 0 10%;
    }

    .img-fotoPerfil {
        width: 100%;
        padding: 0 10%;
    }
}
