@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body {
    font-size: 100%;
    list-style-type: none;
    
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

:root {
    --color-primaria: #231e33;
    --color-secundaria: #bfcdd9;
    --color-destaque: #7458c2;

    --fonte: "Arvo", sans-serif;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
    font-family: var(--fonte);
}

@media (max-width: 1200px) {
    body {
        height: auto;
    }
}
